<!doctype html>
<html>
<head>
    <title>LapStop</title>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
<body class="bod">
<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> LapStop</h1>
        <h2>World's leading app in laptop theft prevention</h2>
        <!--<p>Login:</p>-->

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
    </div>
    <div class="text-center description">Don't worry about stepping away from your laptop with LapStop!</div>

    <div class="gallery">
        <div><img src="./screenshot1.PNG"/><p><span class="fa fa-globe"></span> Location tracking</p></div>
        <div><img src="./screenshot2.PNG"/><p><span class="fa fa-video-camera"></span> Live video feed</p></div>
        <div><img src="./screenshot3.PNG"/><p><span class="fa fa-table"></span> Real-time data collection</p></div>



    </div>
        

    <div class="jumbotron text-center">
        <h1>About LapStop</h1>
        <p>LapStop is a web application to prevent laptop theft.  LapStop logs whenever its not "visible".  It then provides the user with a timestamp and location.  Simply put if your laptop screen is shut LapStop will tell you where and when.  This empowers users to work on the go at ease. Create a login above and LapStop will begin working for you.</p>
        <span class="fa fa-lock"></span>
    </div>
</div>
</body>
</html>
